:root {
    --header-black: #1E1E1E;
    --primary-blue: #090B30;
    --secundary-orange: #FC7300;
    --text-selected: #999999;
    --default-white: #FFFFFF;
    --shadow-gray: #EFECE233;
    --red-warning: #E64848;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", serif;
}

main {
    background-color: var(--primary-blue);
}

/* Header */

.c-header {
    background-color: var(--header-black);
}

.l-header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
}

.l-header__logo a {
    position: absolute;
    right: 0;
    left: 0;
    top: 1.5625rem;
    margin: 0 auto;
    width: 2.3125rem;
}

.l-header__logo a :hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.l-header__lista ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.9375rem;
}

.c-header__pesquisa img {
    width: 1.125rem;
    height: 1.25rem;
}

.c-header__perfil img {
    width: 1.25rem;
    border-radius: 0.25rem;
}

.c-header__notificaçao img {
    width: 1.25rem;
    height: 1.25rem;
}

/* IMAGEM TOPO */

.c-img-top {
    background-image: url(/Desafio-6/assets/img/monitor-da-bancada-topo.png);
    background-size: cover;
    background-position: center;
}

.l-breadcrumb__lista {
    display: flex;
}

.l-breadcrumb__lista ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 0.3125rem;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 3rem;
}

.l-breadcrumb__lista li {
    display: flex;
    gap: 0.3125rem;
    justify-content: center;
    align-items: center;
}

.l-breadcrumb__lista a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
}

.l-breadcrumb__lista p {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: var(--text-selected);
}

.l-banner__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 57.1875rem;
}

.l-banner__informacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 5.9375rem;
}

.l-banner__descricao p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--default-white);
    text-align: center;
}

.l-banner__atualizado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.l-banner__atualizado p {
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 700;
    margin: auto;
    color: var(--text-selected);
}

.l-banner__sociais ul {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.625rem;
}

.l-banner__sociais img {
    width: 2.1875rem;
}

.l-banner__sociais img:hover {
    transform: scale(1.4);
    transition: 0.5s;
}

/*Deputados*/

.c-deputados__conteudo {
    display: flex;
    flex-direction: column;
}

.l-deputados__titulo h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.9375rem;
    color: var(--secundary-orange);
    margin-bottom: 1.8125rem;
    text-align: center;
}

.c-deputados__listagem {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2.375rem 0.875rem;
    flex-wrap: wrap;
}

.c-deputados__item {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;
    text-align: center;
    cursor: pointer;
    width: 6.25rem;
}

.c-deputados__item:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.c-deputados__item:hover img {
    border: 0.25rem solid var(--secundary-orange);
}

.c-deputados__item:hover h3 {
    color: var(--secundary-orange);
}

.c-deputados__item:hover p {
    color: var(--secundary-orange);
}

.c-deputados__item img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 4rem;
    object-fit: cover;
    margin-bottom: 0.625rem;
}

.c-deputados__item h3 {
    font-size: 1.125rem;
    line-height: 1.25rem;
    text-align: center;
    color: var(--default-white);
    font-weight: 700;
    margin: 0;
}

.c-deputados__item p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--default-white);
    margin: 0;
}

.c-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.c-modal__caixa {
    background-color: var(--primary-blue);
    margin: 10% auto;
    padding: 2.75rem;
    border-radius: 0.625rem;
    box-shadow: 0rem 0rem 0.625rem var(--shadow-gray);
    color: white;
    width: 80%;
}

.l-modal__fechar  {
    float: right;
    font-size: 1.75rem;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    background-color: var(--red-warning);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-modal__fechar:hover,
.l-modal__fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.l-modal__conteudo {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    padding: 2.375rem;
}

.l-modal__imagem img {
    width: 11.9375rem;
    height: 100%;
    box-shadow: 0rem 0.1875rem 0.375rem #00000029;
    object-fit: cover;
}

.c-modal__coluna {
    display: flex;
    gap: 1.25rem;
}


.c-modal__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-modal__flex {
    display: flex;
    gap: 1.25rem;
    width: 100%;
    /* Garante que os elementos flex ocupem toda a largura */
}

.c-modal__input {
    width: 100%;
}


.c-modal__input strong {
    background-color: var(--default-white);
    color: var(--header-black);
    font-size: 1rem;
    line-height: 1.6875rem;
    padding: 0.4375rem;
    text-align: left;
    word-wrap: normal;
}

.c-modal__input p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-blue);
    text-align: left;
    font-size: 1rem;
    line-height: 1.6875rem;
    padding: 0.1875rem;
    box-shadow: 0rem 0rem 0.625rem #EFECE233;
    height: 2.375rem;
    /* Altura para alinhar com a imagem */
    gap: 0.625rem;
    margin:0;
}

/*METODOLOGIA*/

.c-metodologia {
    margin-top: 7.25rem;
}

.l-metodologia__conteudo {
    display: block;
}

.l-metodologia__titulo h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 19px;
    color: var(--secundary-orange);
    text-align: left;
}

.l-metodologia__descricao p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--default-white);
    text-align: left;
    margin: 0;
}

/*EXPEDIENTE*/

.c-expediente {
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.l-expediente__conteudo {
    display: block;
}

.l-expediente__titulo h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1.1875rem;
    color: var(--secundary-orange);
    text-align: left;
}

.l-expediente__autor h1 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: left;
    color: var(--default-white);
    margin: 0;
}

.l-expediente__autor p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: left;
    color: var(--default-white);
    margin: 0;
}

@media (max-width: 1230px) {
    .c-modal__caixa {
        width: 95%;
        padding: 1rem;
    }
}

@media (max-width: 1100px) {


    .l-modal__conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .c-modal__info {
        display: flex;
        gap: 0.875rem;
    }


    .c-modal__input p {
        font-size: 0.875rem;
    }

}

@media (max-width: 750px) {

    .c-modal__coluna {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
    }

    .c-modal__input p {
        width: 100%;
    }

    .c-modal__input strong {
        flex-wrap: nowrap;
    }


}


@media (max-width: 525px) {

    .c-img-top {
        background-image: url(/assets/img/monitor-da-bancada-logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center 25%;
    }

    .l-banner__conteudo {
        gap: 500px;
        height: auto;
    }


    .l-modal__conteudo {
        margin-top: 1rem;
    }

    .c-deputados__listagem {
        gap: 1.125rem 0.875rem;
    }
    .l-deputados__titulo h1 {
        font-size: 2.25rem;
        line-height: 3rem;
    }

}

@media (max-width: 425px) {
    .l-banner__conteudo {
        gap: 400px;
    }
}

@media (max-width: 375px) {

    .c-modal__caixa {
        width: 95%;
    }

    .l-modal__conteudo {
        padding: 0.5rem;
    }
    

}